.navbar {
	background-color: #6b705c;
}
.navbar__buttonL {
	border: 2px solid #ddbea9;
	color: #ddbea9;
}
.navbar__buttonL:hover {
	background-color: #ddbea9;
}

.navbar__buttonR {
	background-color: #ddbea9;
}
.navbar__buttonR:hover {
	border: 2px solid #ddbea9;
	color: #ddbea9;
}
